page-chatpage {
.mine{
    width: auto;
    float: right;
    background-color: rgb(185, 228, 245);
    box-shadow: 0 0 6px #B2B2B2;
    border-radius: 10px;
}
.other{
    width: 50%;
    float: auto;
    background-color: rgb(204, 235, 197);
    box-shadow: 0 0 6px #B2B2B2;
    border-radius: 10px;
}

.input{
    border-radius: 5px;
   // background-color: rgb(22, 22, 22);
   // color:white;
 
}
}
